.message {
    padding: 7px 10px;
    margin: 1px 0;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    max-width: 90%;
    word-wrap: break-word;
}

.incoming-wrapper {
    text-align: right;
}

.incoming {
    color: white;
    background: #0077e5;
}

.outgoing {
    color: black;
    background: #e5e4e4;
}