.answer-wrapper {
    text-align: center;
    margin-top: 5px;
}

.answer {
    background: lightblue;
    margin: 0 auto;
    cursor: pointer;
}

.answer:hover {
    background: darkcyan;
}

.answers {
    margin-top: 20px;
}